
td {
    color: #000000;
	text-align: center;
	font-family: hug me tight;
	text-shadow: 2px;
}
table {
	border-color: #ffffff;
	
}
th {
    color: #588157;
	text-align: center;
	font-family: hug me tight;
	text-shadow: 35px;
}
li {
    color: #000000;
	text-align: center;
	font-family: hug me tight;
}
p {
	color: #588157;
	font-family: hug me tight;
}

